body {
    font-family: "Segoe UI Light";
    background: #2f2f2f;
    text-align: center;
    color: white;
}
#overlay{
    /*width: 0px;
    height: 0px;
    opacity: 0px;*/
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    background: #2f2f2f;
    
    margin-top: 10vh;
    height: 98vh;
    width: 98vw;
    opacity: 0;
    
    transition: opacity 1s, height 1s, width 1s;
}
#container {
    margin-top: 25vh;
}
h1{
    margin-top: 5vh;
    padding: 5px;
}
::placeholder
{
    color: lightgray;
}
button {
    font-size: 6em;
    margin-bottom: 2vh;
    width: 30vw;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 5px;
    padding-bottom: 10px;
    border-radius: 10px;
    border: 0px;
    color: #F2F4F4;
    cursor: pointer;
}

#play > button {
    /*background: linear-gradient(68deg, rgba(0,0,0,1) 0%, rgba(20,20,170,1) 49%, rgba(114,47,195,1) 74%, rgba(206,70,255,1) 100%);*/
    background: linear-gradient(68deg, rgba(121,0,57,1) 0%, rgba(193,68,237,1) 69%, rgba(237,68,236,1) 100%);
    transition: width 0.7s;
}

#nicknameBox {
    text-align: center;
    padding: 10px;
    margin-bottom: 6vh;
    width: 28vw;
    border-radius: 8px;
    border: 0px;
    background: linear-gradient(68deg, rgba(28,5,16,1) 0%, rgba(140,36,176,1) 69%, rgba(203,46,202,1) 100%);
    color: white;
}

#info > button {
    background: linear-gradient(68deg, rgba(0,86,121,1) 0%, rgba(0,223,210,1) 100%);
    transition: width 0.7s;
}

#instructions > button{
    background: linear-gradient(68deg, rgba(15,29,34,1) 0%, rgba(0,204,192,1) 100%);
    font-size: 1em;
    transition: width 0.7s;
}

#text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 0vw;
}
/*Original rainbow button code from https://codepen.io/althi/pen/eKdmaa, by Thiago Marques*/
#play > button:hover, #info > button:hover{
    width: 98vw;
    transition: width 0.3s;
        
    /*color: black;
    background-image: linear-gradient(to right,
            #E7484F,
            #E7484F 16.65%,
            #F68B1D 16.65%,
            #F68B1D 33.3%,
            #FCED00 33.3%,
            #FCED00 49.95%,
            #009E4F 49.95%,
            #009E4F 66.6%,
            #00AAC3 66.6%,
            #00AAC3 83.25%,
            #732982 83.25%,
            #732982 100%,
            #E7484F 100%);
    animation: slidebg 1s linear infinite;*/
}

/*#aboutus > button:hover {
    color: white;
    background-image: linear-gradient(to right,
            #0965BA,
            #0A9CC4 16.65%,
            #0985BA 16.65%,
            #0A9CC4 33.3%,
            #00ADA3 33.3%,
            #00ADAF 49.95%,
            #00AD00 49.95%,
            #009E4F 66.6%,
            #09BA4D 66.6%,
            #0AC486 83.25%,
            #732982 83.25%,
            #732982 100%,
            #0965BA 100%);
    animation: slidebg 1s linear infinite;
}*/
/*
@keyframes slidebg {
    to {
        background-position: 20vw;
    }
}

.follow {
    margin-top: 40px;
}

.follow a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
}*/
