body {
    font-family: "Segoe UI Light";
    background: #2f2f2f;
    text-align: center;
    color: black;
}
#instructions{
    margin-top: 5vh;
}
footer{
    position: fixed;
    bottom: 0;
    font-size: 3em;
}
footer > div{
    font-family: 'Bebas Neue', cursive;
    padding-bottom: 10vh;
    width: 98vw;
}
h1{
    margin-top: 5vh;
    margin-bottom: 0px;
}