body{
    font-family: "Segoe UI Light";
    background: red;
    width: 100vw;
    padding: 0px;
    overflow-x: hidden;
    text-align: center;
    color: #878787;
}
p{
    width: 100%;
    height: 100%;
    margin: auto;
}
#topUI{
    width: 99%;
    left: 0px;
    top: 0px;
}
#info{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    height: 5vh;
    z-index: 99;
    background-color: #3e3e3e;
}
#info > div{
    margin: auto;
}
#options{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#options > div:hover {
    cursor: pointer;
}

.p5Canvas{
    z-index: -999;
}
footer{
    height: 5vh;
    background-color: #9932cc;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
footer > p{
    padding: 1vh;
    color: white;
}
